/* heights and widths */
.h-screen {
    height: 100vh;
}

.h-50 {
    height: 50%; 
}

.w-screen {
    width: 100vh;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-400 {
    width: 400px;
}

/* flex horizontal alignments */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

/* flex vertical alignments */
.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

/* gap properties ie the space between the flex items */
.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

/* margins and paddings */
.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}
.mt-2 {
    margin-top: 20px;
}

.m-3 {
    margin: 30px;
}
.m-4 {
    margin: 40px
}
.m-5 {
    margin: 50px
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}