.card {
    background-color: white;
    box-shadow: 0 0 5px 0 var(--black);
}

.loader-parent {
    position: absolute;
    inset: 0;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader{
    height: 80px;
    width: 80px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: rgba(182, 182, 182, 0.387);
    animation: loader-anim 1s linear infinite;
}

table {
    border: 1px solid var(--button);
}

.br-3 {
    border-radius: 3px;
}

@keyframes loader-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}










