input, select, textarea {
    border: 1px solid #595959;
    padding: 8px 10px;
    width: 100%;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #141414;
    outline: none;
}

.primary-contained-btn{
    background-color: var(--button);
    color: var(--black);
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.primary-outlined-btn{
    background-color: #fff;
    color: var(--black);
    padding: 8px 20px;
    text-transform: uppercase;
    border: 1px solid var(--button);
    cursor: pointer;
}

.ant-btn {
  background-color: #fff;
    color: var(--black);
    /* padding: 8px 20px; */
    text-transform: uppercase;
    border: 1px solid var(--button);
    cursor: pointer;
       
}

.ant-btn-primary {
  background-color: #fff;
    color: var(--black);
    /* padding: 8px 20px; */
    text-transform: uppercase;
    border: 1px solid var(--button);
    cursor: pointer;
    /* font-size: 12px; */
    
}

.ant-modal-content {
    width: 500px;
}