:root {
    --primary: #e6f4ff;
    --secondary: #4096ff;
    --tertiary: #7a9dba33;
    --white: #fff;
    --black: #000;
    --active: #cf1322;
    --button: #bae0ff
}

/* background colors */
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary) !important;
}

/* text colors */
.text-primary {
    color:  var(--primary)!important;
}

.text-secondary {
    color: var(--secondary)!important;
}

.text-white {
    color: var(--white) !important;
}

.text-black {
    color: var(--black) !important;
}

.success-bg {
    background-color: rgb(174, 247, 174) !important;
    padding: 10px;
    border-radius: 3px;
}

.error-bg {
    background-color: rgb(239, 144, 144) !important;
    color: white;
    padding: 10px;
    border-radius: 3px;
}