:root {
    --primary: #e6f4ff;
    --secondary: #4096ff;
    --white: #fff;
    --black: #000;
    --active: #cf1322;
}

/* background colors */
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

/* text colors */
.text-primary {
    color:  var(--primary)!important;
}

.text-secondary {
    color: var(--secondary)!important;
}

.text-white {
    color: var(--white) !important;
}

.text-black {
    color: var(--black) !important;
}